html
    head
        title Just a Form
    body
        form(action = action x-method = method id = 'edit-form')
            p
                label(for = "name") Name:
                input(
                    name = "name"
                    id = "name"
                    value = user.name
                    type = "text" required
                )
            p
                label(for = "health") Health:
                input(
                    name = "health"
                    id = "health"
                    value = user.health
                    type = "number"
                    required min = 0
                )
            p
                label(for = "attack") Attack:
                input(
                    name = "attack"
                    id = "attack"
                    value = user.attack
                    type = "number"
                    required min = 0
                )
            p
                label(for = "defense") Defense:
                input(
                    name = "defense"
                    id = "defense"
                    value = user.defense
                    type = "number"
                    required min = 0
                )
            p
                label(for = "source") Fighter avatar:
                input(
                    name = "source"
                    id = "source"
                    value = user.source
                    type = "text" required
                )
            button(type = "submit") #{(method === 'POST' ? 'Create' : 'Update') + ' fighter'}
            if method !== 'POST'
                button(id = "delete-button") Delete fighter
        script(src = '/static/js/form.js')
