html
    head
        title
    body
        div
            a(class='button' href='/user') See all users
        div
            a(class='button' href='/user/1') See first user data
        div
            a(class='button' href='/user/create') Create a new user
        div
            label(for = "user-id") Choose user to edit by ID:
            input(name = "source" id = "user-id" value = id type = "number" required)
            a(class='button' href='/user/update/' + id) update/delete a user
